@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    box-sizing: content-box;
}

.mslogo{
    width: 65px;
    height: 65px;
    margin-left: 15px;
}

.profilepic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar {
    /* background-color: rgba(243, 239, 239, 0.726); */
    background-color: #f5f5f7;
    /* background-color: #282d32; */
    height: 70px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-toggler{
    color: black;
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.navbar-toggler-icon, .btn-close{
    background-color: white;
    border-radius: 5px;
}

.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
    font-size: 14px;
}

.nav-link:hover{
    color: black;
}

.nav-link.active{
    color: #000;
}

#offcanvasNavbar{
    background-color: #282d32;
}

.offcanvas-title{
    color: black;
}

.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility: visible;
}


.content-section{
    background: url(img/musicbg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.content-section{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content-section .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

